@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
  @apply dark:bg-gray-700 transition duration-300;
  color: black;
  @apply dark:text-white;
}

body {
  @apply sm:px-5;
}

.header {
  color: #1a1a1a;
  @apply dark:text-white;
}

img {
  display: block; 
  @apply shadow-sm;
  @apply mx-auto;
  @apply my-5; 
}

.cover img{
  @apply shadow-none my-0 mx-0;
  z-index: -10;
}

